.glowa {
    padding: 75px;
    position: relative;
    overflow: hidden;
    height: 150px;
    background-color: rgb(177, 174, 174);
    color: white;
    text-align: center;
    letter-spacing: 10px;
}