ul.list {
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

ul.list li{
    width: 40%;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    word-wrap: break-word;
    font-size: 20px;
}


div.waitingTask{
    align-items:center;
}

ul.list button.add {
    margin: 5px;
    padding: 7px 10px;
    text-transform: uppercase;
    font-size: 20px; 
    border-radius: 8px;
    background-color:rgb(30, 188, 228);
    color: white;
    border: 2px solid rgb(30, 188, 228); 
}

ul.list button.add:hover{
    background-color: white;
    color:rgb(88, 88, 88); 
}


ul.list button.delete {
    margin: 5px;
    padding: 7px 10px;
    text-transform: uppercase;
    font-size: 20px; 
    border-radius: 8px;
    background-color:rgb(241, 80, 107);
    color: white;
    border: 2px solid rgb(241, 80, 107); 
}

ul.list button.delete:hover{
    background-color: white;
    color:rgb(88, 88, 88); 
}

ul.list p{
    padding: 10px;
}