.App {
  text-align: center;
}

section.page {
  flex-grow:1;
}

section {
  flex-grow:1;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(177, 174, 174);
  color: white;
  text-align: center;
  padding: 10px;

}

main{
  flex-grow: 1;
  min-height: 500px;
}

.head {
  padding: 75px;
  position: relative;
  overflow: hidden;
  height: 150px;
  background-color: rgb(177, 174, 174);
  color: white;
  text-align: center;
  letter-spacing: 10px;
}

section{
  padding-bottom: 25px;
}